.playerSection {
	height: 400px;
}

.revealIcon {
	font-size: 180px !important;
}

#info .section {
	height: 150px;
}

#chatBox {
	height: 160px;
	text-align: left;
	overflow-y: scroll;
}

#sendChat {
	margin: 25px 5px 0 0;
	font-size: 10px;
}

#chatInput {
	margin-left: 5px;
}

#replyIcon {
	font-size: 10px;
}

.input-field.col #chatInput + label {
	left: 1.75rem;
}